body {
    background-color: rgb(34, 34, 34);
    overflow:hidden;
}

div {
    display:inline-block;
}

select {
    position:absolute;
    top:5vh;
    right:5vw;
    width:15vw;
    font-size:1.4vw;
    color:rgb(200, 192, 192);
    background-color: rgb(50, 50, 50);
    border:1px solid rgb(88, 88, 88);
}

h1 {
    font-family: sans-serif;
    color:rgb(235, 225, 225);
    display:block;
    font-size:2.8vw;
    margin-left:3vw;
}

.list-container {
    display:block;
    position:absolute;
    top:15vh;
    left:0;
    width:100vw;
    height:83vh;
    padding-top:2vh;
    overflow-y:scroll;
    color:rgb(65, 129, 127);
}

.list-container:hover .list-item {
    filter:brightness(0.9);
}

.list-item {
    display:block;
    width:93%;
    padding-top:1vh;
    background-color: rgb(50, 50, 50);
    margin-left:2.5%;
    padding-left:2%;
    font-size:0.6cm;
    margin-bottom:1vh;
    line-height:0.8cm;
    font-family: sans-serif;
    text-decoration: none;
    cursor:pointer;
    color:rgb(200, 192, 192);
    transition:padding .3s, line-height .3s;
}

.list-item:hover {
    background-color: rgb(59, 59, 59);
    padding-bottom:2vh;
    padding-top:2vh;
    line-height:1.2cm;
    filter:brightness(1) !important;
}